#order_online_root {
    display: flex;
}

#order_online_root .slist{
    list-style-type: none;
    font-size: large;
    float: left;
}

#order_online_root .leftbar{
    position: sticky;
    top: 25vh;
    overflow-x: hidden;
    height: max-content;
    display: block;
    width: 300px;
    border-right: 3px solid;
    border-image:linear-gradient(transparent, rgb(211,211,211), transparent) 2;
    z-index: -1;
}

#order_online_root .rlist{
    /* margin-left: 240px; */
}
#order_online_root a{
    text-decoration: none;
    color: #363636;
    opacity: 73%;
}

#order_online_root li{
    padding: 15px 15px 15px 0;
}

#order_online_root li:hover{
    /* background-color: aqua; */
    background-image: linear-gradient(transparent, rgb(211,211,211), transparent) 2;
    border-right: 3px solid brown;
}

#order_online_root li a:visited{
    width: max-content;
    border-right: 3px solid red;
    background-color: bisque;
}

#order_online_root .items{
    list-style-type: none;
    /* float: left; */
}

#order_online_root .obox{
    margin-left: 30px;
    border-bottom: 3px solid grey;
}

#order_online_root .ig{
    margin: 5px 10px 0 5px;
    width: 125px;
    height: 125px;
    border-radius: 9px;
}
#order_online_root .box{
    height: fit-content;
    margin-bottom: 10px;
}
#order_online_root .info{
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    width: 50%;
}
#order_online_root .votes{
    color : silver;
}
#order_online_root .press{
    color : grey;
    font-size: 17px;
}
#order_online_root .price{
    color : black;
    font-size: 18px;
    opacity: 70%;
    position: relative;
    z-index: -1;
}
#order_online_root h2{
    margin: -10px 0 0 0;
    text-decoration: none;
    text-emphasis: none;
    
}
#order_online_root .adder{
    float: right;
    margin-right: 18px;
}
#order_online_root .add_btn{
    width: 85px;
    height: 32px;
    border: 0.5px solid grey;
    background-color: white;
    border-radius: 9px;
}

#order_online_root .srbox{
    width: min-content;
    height: 35px;
    font-size: medium;
    color: grey;
}

#order_online_root .rsm{
    color: red;
    font-size: small;
}

#order_online_root .rplus{
    display: inline;
    color: red;
    font-size: large;
}


@media screen and (max-width: 450px){
    #order_online_root .leftbar{
        width: 25%;
    }
    #order_online_root .slist{
        font-size: smaller;
    }
}